*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    
}

body{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

header{
    background:url('../img/jumbo.png') no-repeat center;
    
    background-size:cover;
}

.container{
    width:70vw;
    height: 70vh;
    /* background-color: aqua; */
    margin: 0 auto;
    
}

.pr{
    position:relative;
}

/* .navbar{
    position: fixed;
    width: inherit;
    z-index: 1000;
} */

.fl{
    float: left;
}

.content_navbar{
    height: 60px;
    line-height: 60px;
    
}

.row::after{
    content: '';
    display: table;
    clear: both;
}



/* .sode_box{
    width: 20%;
} */

.side_box{
    /* height: 100%; */
    width: 20%;  
    vertical-align: middle;
}


.side_box img{
    vertical-align: middle;
}

.menu{
    width: 60%;
    height: 100%;
}

.menu ul{
    list-style: none;
    text-align: center;
}

.menu ul li{
    display: inline-block;
    padding: 0 9px;
    font-size: 15px;
    
}

a{
    text-decoration: none;
    color:#fff;
    font-weight: bold;
}

.button_position{
    text-align: right;
}

.buttons{
    padding:5px 20px;
    border-radius: 20px;
    box-shadow: none;
    border-width: 0;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;

}

.container_testo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    /* width: 50px;
    height: 50px;
    background-color: ivory; */
}

.cf{
    color: #fff;
    
}

.container_testo h1{
    font-size: 40px;
}

.container_testo_main_right h1, 
.container_testo_main_left h1, 
.container_testo_main_finale h1{
    margin-bottom: 20px;
}

.container_buttons{
    padding-top: 20px;
}

.bold{
    font-weight: bold;
}

.bw{
    background-color: #000;
    color: #fff;
}

.container_img{
    width: 55%;
}

.container_img img,
.container_img_finale img{
    width:100%;
}

.container_testo_main_right{
    width:35%;
    padding-left: 80px;
    padding-top: 40px;
}

/* .main_content>.row{
    padding-top: 50px;
} */

.main_content{
    margin-bottom: 50px;
    height: auto;
}

.fr{
    float:right
}

.container_testo_main_left{
    width:35%;
    /* padding-left: 80px; */
    padding-top: 40px;
    margin-right: 30px;
}

/* .wave{
    background:url('../img/wave.svg');
    opacity: 0.2;
} */

.margin{
    margin-top: 50px;
}

.container_testo_main_finale{
    text-align: center;
}

.stringa{
    background: url('../img/stars.svg') no-repeat;
    background-size: contain;
    padding: 15px 30px;
    display:inline-block;
    text-align: center;
}

.purple{
    background-color: #89a2e6;
}

.box_last_button div{
    text-align: center;
    padding-bottom: 10px;
}